[Unit]
Description=Apple Layout Switcher

[Service]
Type=simple
User=root
ExecStart=/bin/bash ~/Documents/apple.sh

[Install]
WantedBy=multi-user.target
